.root {
    font-weight: 800;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.root > *:not(:last-child) {
    margin-right: 12px;
}
.small {
    min-width: 205px;
    height: 48px;
    padding: 12px 32px;
}
.medium {
    min-width: 205px;
    height: 48px;
}
.large {
    min-width: 308px;
    height: 64px;
}

.border {
    border: 2px solid #555555;
    border-radius: 4px;
}
